<div 1>
  <img src="https://www.icy-veins.com/forums/news/42683-warcraft-1-and-2-now-available-on-gog.jpg">
</div 1>

<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="p1_name">
    Player 1 name
    <input type="text" name="player_1">
  </label>
  <label for="p2_name">
    Player 2 name
    <input type="text" name="player_2">
  </label>
  <input type="submit" value="Battle!" >
</form>
